<h1>Lalo</h1>

<div class="container">
	<div class="row">
		<div class="col-md-6">
		<%= image_tag @designs[1].image.url(:medium), :id => 'my-image' %>
		</div>
		<div class="col-md-6">
			<canvas id="c"></canvas>
		</div>
		
		<a id="createcase" class="btn btn-success">Create Case</a>
	
	</div>
	<div>




		<div class="col-md-6">

			<%= bootstrap_form_for [@user, @product] do |f| %>

			<%= f.text_area(:model) %>
	
			<input id="newcaseimage" name="newcaseimage" type="text">


			<%= f.submit  "Submit", class: "btn btn-success" %>

			<%end%>
		</div>
	</div>
</div>