<div class="container">
	<div class="row">
		<% if @productall %>
		<h1>Create a new case </h1>

		
		<% else %>
		<h1>Start creating yor first case</h1>
		
		<%end%>
		



		<div class="col-md-12">

			<%= bootstrap_form_for [@user, @product] do |f| %>
			<div class="col-md-4">
			<%= f.select :model, [["iPhone 6", "1"], ["iPhone 5", "2"], ["iPhone 4", "3"],["Galaxy S5", "4"], ["Moto G", "5"]], { label: "Choose your favorite device" }, {id: "myselect"} %>
			</div>

			<input id="newcaseimage" name="newcaseimage" type="hidden" type="text">



		</div>






		<div class="col-md-6">
		<% i = 0 %>	
		<% @designs.each do |el| %>
		<div class="col-md-6 show">
		<%= image_tag el.image.url, :id => i.to_s, :class => 'designtocase', :style => 'height:200px; width:200px' %>

		<% i = i + 1 %>
		</div>
		<%end%>	

		</div>
		<div class="col-md-6">
			<canvas id="c"></canvas>
		</div>
					<%= f.submit  "Submit", class: "btn btn-success", id: "create" %>

			<%end%>

	</div>
	<div>

	</div>
</div>